.layui-laypage .layui-laypage-curr .layui-laypage-em {

	position: absolute;

	left: -1px;

	top: -1px;

	padding: 1px;

	width: 100%;

	height: 100%;

	background-color: #4fb8f6;

}



.layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-nav-child dd.layui-this a, .layui-nav-tree .layui-this, .layui-nav-tree .layui-this>a, .layui-nav-tree .layui-this>a:hover {

    background-color: #4fb8f6;

    color: #fff;

}

.layui-btn {

	background-color: #4fb8f6;

}



.layui-btn-disabled,

.layui-btn-disabled:active,

.layui-btn-disabled:hover {

	border-color: #eee;

	background-color: #FBFBFB;

	color: #d2d2d2;

	cursor: not-allowed;

	opacity: 1;

}



.layui-form-select dl dd.layui-this {

    background-color: #4fb8f6;

    color: #fff;

}

.layui-tab-brief>.layui-tab-title .layui-this {

	color: #4fb8f6;

}



.layui-tab-brief>.layui-tab-more li.layui-this:after,

.layui-tab-brief>.layui-tab-title .layui-this:after {

	border: none;

	border-radius: 0;

	border-bottom: 2px solid #4fb8f6;

}
